th, td {
    text-align: center;
    font-size: 1.2rem;
}

.table thead th {
    font-size: 1.3rem;
}


.kicker-select {
    font-size: 1.1rem;
}

.player-td {
    text-align: left;
}

.player-td-right {
    text-align: right;
}

.form-cicle {
    margin-left:3px;
}

/*
@media (max-width: 1500px) {
    .game-rating-span {
        display: none;
    }
}*/

.i-trend{
    margin-left:10px;
}

.fa-rotate-45 {
    transform: rotate(45deg)
}

.fa-rotate-135 {
    transform: rotate(135deg)
}
