<!DOCTYPE html>
<html>
    <head>
        <title>Kicker</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Material Design for Bootstrap fonts and icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

        <!-- Material Design for Bootstrap CSS -->
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
        <link rel="icon" href="favicon.png">


    </head>
    <body>
        <nav class="navbar navbar-light bg-yellow">
            <span class="navbar-brand h1">
                <a href=""><img height="50px" src="favicon.png"/></a>
                Kicker Rating List
            </span>
            <span>
                <a class="btn btn-default" href="https://gitlab.com/Danny_Schumann/kicker"><i class="fas fa-code"></i> Contribute</a>
            </span>
        </nav>
        <br>

        <div class="container-fluid" id="main">

            <!-- Rating Chart -->
            <div class="container d-none" id="chart">
                <button type="button" class="close" aria-label="Close" v-on:click="closeChart()">
                    <span aria-hidden="true">&times;</span>
                </button>
                <canvas id="rating-chart-canvas" width="400" height="200"></canvas>
            </div>

            <!-- Layout -->
            <div class="row">

                <!-- Players Table -->
                <div class="col-lg-6 col-md-12">
                    <table class="table table-hover table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col" class="player-td">Name</th>
                                <th scope="col" class="d-none d-sm-table-cell">Form</th>
                                <th scope="col">Rating</th>
                                <th scope="col" class="d-none d-xl-table-cell">Games</th>
                                <th scope="col">
                                    <button class="btn btn-light" v-on:click="drawChart(null)"><i class="fas fa-chart-line"></i></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(player, index) in players">
                                <th scope="row">{{ index+1 }}</th>
                                <td class="player-td">
                                    {{ player.name }}
                                </td>
                                <td class="d-none d-sm-table-cell" v-bind:title="getFormCurve(player).formCurveString.toString()">
                                    <span v-for="result in getFormCurve(player).formCurveString"
                                          v-bind:class="{
                                                        'text-success': (result === 'W'),
                                                        'text-danger': (result === 'L')
                                                        }">
                                        <i class="fas fa-circle fa-xs form-cicle"></i>
                                    </span>
                                </td>
                                <td v-bind:title="'Trend: ' + getFormCurve(player).tendency">

                                    {{ player.rating.elo }} <span v-if="player.rating.k > 20">(?)</span>
                                    <i class="fa fa-long-arrow-alt-up i-trend"
                                       v-bind:class="{
                                                     'text-success': (getFormCurve(player).tendency > trends.up_strong),
                                                     'fa-rotate-45 text-success': (getFormCurve(player).tendency <= trends.up_strong) && (getFormCurve(player).tendency > trends.up_light),
                                                     'fa-rotate-90': (getFormCurve(player).tendency <= trends.up_light) && (getFormCurve(player).tendency >= trends.down_light),
                                                     'fa-rotate-135 text-danger': (getFormCurve(player).tendency < trends.down_light) && (getFormCurve(player).tendency >= trends.down_strong),
                                                     'fa-rotate-180 text-danger': (getFormCurve(player).tendency < trends.down_strong)
                                                     }"></i>
                                </td>
                                <td class="d-none d-xl-table-cell">{{ player.games }}</td>
                                <td>
                                    <button class="btn" v-bind:class="{ 'text-danger': chartPlayerIds.includes(player._id) }" v-on:click="drawChart(player)"><i class="fas fa-chart-line"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <form class="form-inline">
                        <div class="form-group">
                            <label for="player_name" class="bmd-label-floating">Name of new Player</label>
                            <input id="player_name" type="text" class="form-control" v-model="new_player">
                        </div>
                        <span class="form-group bmd-form-group">
                            <button v-on:click="addPlayer" class="btn btn-secondary" type="button">add Player</button>
                        </span>
                    </form>

                </div>




                <!-- Games Table -->
                <div class="col-lg-6 col-md-12">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">A</th>
                                <th colspan="3" scope="col">Result</th>
                                <th scope="col">B</th>
                                <th scope="col" class="d-none d-sm-table-cell"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <select v-model="new_game.players[0][0]._id" class="form-control kicker-select" id="p_a1">
                                        <option value="" selected></option>
                                        <option v-for="player in players" v-bind:value="player._id">{{ player.name }}</option>
                                    </select>
                                    <select v-model="new_game.players[0][1]._id" class="form-control kicker-select" id="p_a2">
                                        <option value="" selected></option>
                                        <option v-for="player in players" v-bind:value="player._id">{{ player.name }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="new_game.result[0]" class="form-control kicker-select" id="goals_a">
                                        <option v-for="goal in goals">{{ goal }}</option>
                                    </select>
                                </td>
                                <td>
                                    :
                                </td>
                                <td>
                                    <select v-model="new_game.result[1]" class="form-control kicker-select" id="goals_b">
                                        <option v-for="goal in goals">{{ goal }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select v-model="new_game.players[1][0]._id" class="form-control kicker-select" id="p_b1">
                                        <option value="" selected></option>
                                        <option v-for="player in players" v-bind:value="player._id">{{ player.name }}</option>
                                    </select>
                                    <select v-model="new_game.players[1][1]._id" class="form-control kicker-select" id="p_b2">
                                        <option value="" selected></option>
                                        <option v-for="player in players" v-bind:value="player._id">{{ player.name }}</option>
                                    </select>
                                </td>
                                <td class="center-align d-none d-sm-table-cell">
                                    <button class="btn btn-lg btn-raised btn-block btn-secondary" v-on:click="addGame"><i class="fas fa-plus"></i></button>
                                </td>
                            </tr>

                            <!-- buttons for small views -->
                            <tr class="d-table-row d-sm-none">
                                <td  colspan="2" >
                                    <button class="btn btn-lg btn-raised btn-block btn-secondary" v-on:click="addGame"><i class="fas fa-plus"></i></button>
                                </td>
                                <td></td>
                                <td  colspan="2" >
                                    <button class="btn btn-lg btn-raised btn-block btn-secondary" v-on:click="undoLastGame"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr>

                            <!-- games -->
                            <template v-for="(game, index) in games">
                                <tr v-if="index == 0 || (new Date(games[index].created)).toLocaleDateString() != (new Date(games[index-1].created)).toLocaleDateString()"
                                    class="table-active">
                                    <td colspan="5">
                                        {{ (new Date(game.created)).toLocaleDateString() }}
                                    </td>
                                    <td></td>
                                </tr>
                                <tr
                                    v-bind:title="'Created: ' + (new Date(game.created)).toLocaleString()">
                                    <td class="player-td-right">
                                        <span v-for="player in game.players[0]">
                                            {{ player.name }}
                                            <span class="d-none d-sm-inline">
                                                (
                                                <span class="d-none d-xl-inline">{{ player.rating }}</span>
                                                <span class="text-success" v-if="player.delta > 0">
                                                    +{{ player.delta }}
                                                </span>
                                                <span class="text-danger" v-else>
                                                    {{ player.delta }}
                                                </span>
                                                )
                                            </span>
                                            <br>
                                        </span>
                                    </td>

                                    <td>
                                        {{ game.result[0] }}
                                    </td>
                                    <td>:</td>
                                    <td>
                                        {{ game.result[1] }}
                                    </td>
                                    <td class="player-td">
                                        <span v-for="player in game.players[1]">
                                            {{ player.name }}
                                            <span class="d-none d-sm-inline">
                                                (
                                                <span class="d-none d-xl-inline">{{ player.rating }}</span>
                                                <span class="text-success" v-if="player.delta > 0">
                                                    +{{ player.delta }}
                                                </span>
                                                <span class="text-danger" v-else>
                                                    {{ player.delta }}
                                                </span>
                                                )
                                            </span>
                                            <br>
                                        </span>
                                    </td>
                                    <td v-if="index==0" class="center-align d-none d-sm-table-cell">
                                        <button class="btn btn-lg btn-raised btn-block btn-secondary" v-on:click="undoLastGame"><i class="fas fa-trash"></i></button>
                                    </td>
                                    <td v-else class="center-align d-none d-sm-table-cell"></td>

                                </tr>
                            </template>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>


        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

        <!-- SnackbarJS plugin -->
        <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>

        <!-- charts -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

        <script src="./js/elo.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>
